.resource-active {
    background-color: #999999;
}

.resource-de-active {
    background-color: #eee;
}
.sub-resource-active {
    background-color: #999999;
}

.sub-resource-de-active {
    background-color: #fefefe;
}